.button {
  width: 100%;
  align-items: center;
  background-color: #455dca;
  border: 1.ch;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.3rem;
  font-weight: 456;
  justify-content: center;
  text-transform: uppercase;
  overflow: hidden;
  padding: 1rem 3rem;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
}

.button:hover { 
  background-color: #c302f3;
  color: #ffffff;
}

.button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}